@page
@model WebApp_SeguroVehiculo.Pages.Vehicles.IndexModel
@{
}
<center><h1>Vehicles</h1></center>
<br />

<form method="post">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>PersonId: </th>
				<th>Id:       </th>
				<th>Brand:    </th>
				<th>Model:    </th>
				<th>Year:     </th>
				<th colspan="2"> <center>Options Vehicle: </center> </th>
			</tr>
		<thead>
		<tbody>
			@foreach (var item in Model.Vehicles)
			{
				<tr>
					<td>@item.PersonId  </td>
					<td>@item.Id      </td>
					<td>@item.Brand  </td>
					<td>@item.Model   </td>
					<td>@item.Year    </td>
					<td>
						<a class="btn btn-outline-success"
						   asp-page="Edit"
						   asp-route-id="@item.Id">
							Edit
						</a>
					</td>
					<td>
						<button type="submit"
								class="btn btn-outline-danger"
								asp-page-handler="delete"
								asp-route-id="@item.Id">
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>
<a asp-page="Add" class="btn btn-outline-primary">Add Vehicle</a>
<br />