@page
@model WebApp_SeguroVehiculo.Pages.Persons.IndexModel
@{
}

<center><h1>Customers</h1></center>
<br />

<form method="post">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id:         </th>
                <th>Name:       </th>
                <th>LastName:   </th>
                <th>DocType:    </th>
                <th>DocNum:     </th>
                <th>BirthDate:  </th>
                <th>City:       </th>
                <th colspan="3"> <center>Options </center> </th>
            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model.Persons)
            {
                <tr>
                    <td>@item.Id        </td>
                    <td>@item.Name      </td>
                    <td>@item.LastName  </td>
                    <td>@item.DocType   </td>
                    <td>@item.DocNum    </td>
                    <td>@item.BirthDate </td>
                    <td>@item.City     </td>
					<td>
						<a class="btn btn-outline-warning"
						   asp-page="../Vehicles/Index">
							Info
						</a>						
					</td>
					<td>
						<a class="btn btn-outline-success"
						   asp-page="Edit"
						   asp-route-id="@item.Id">
							Edit
						</a>
					</td>
                    <td>
                        <button type="submit"
                                class="btn btn-outline-danger"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<a asp-page="Add" class="btn btn-outline-primary">Create new Customer</a>
<br />

<!-- Realizar Return To Home -->
